// Body Styling
body {
  background: $c-white;
  letter-spacing: .01em;
  line-height: 1.5;
}


// Header Styling
header {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;

  &>:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4 {
    font-family: $brand;
    font-weight: 600;
  }
}


// Content Styling
nav {
  border: 1px solid rgba(100,100,100,.2);
}

kbd, samp, code{
  background:#2e2e2e;
  border: 2px solid;
  color: #eee;
  display: block;
  padding: $spacing * 3;
}

p, li {
  > code,
  > kbd,
  > samp {
    display: inline-block;
  }
}


// Footer Styling
footer {
  background: #eee;
  font-size: .9em;
}
