// ----------------------------------------------------------------
//    Basic Styling: Media Elements
// ----------------------------------------------------------------

// If an image doesn't load, make the alt text standout
img {
  color: $c-Required;
  font-style: italic;
}

// Make sure these guys don't extend beyond their parent containers
// Give HTML5 elements inline-block display, which is also not defined in ie8/9
audio, img, object, embed, video {
  display: inline-block;
  max-width: 100%;
}


// Prevents browsers from displaying 'audio' w/out controls and fixes height for iOS 5
audio:not([controls]) {
  display: none;
  height: 0;
}

// Corrects overflow issue in IE9
svg:not(:root) {
  overflow: hidden;
}
