// ----------------------------------------------------------------
//    Vendor Prefix Mixins
// ----------------------------------------------------------------
// All Vendor Prefixes
@mixin vendor($property, $value...){
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
    -webkit-#{$property}:$value;
            #{$property}:$value;
}

// Just webkit & moz Prefixes
@mixin txt-base-vendor($property, $value...){
       -moz-#{$property}:$value;
    -webkit-#{$property}:$value;
            #{$property}:$value;
}

// ----------------------------------------------------------------
//    Useful CSS3 Mixins
// ----------------------------------------------------------------
// Box Sizing
@mixin box-sizing($box-value) {
  @include txt-base-vendor(box-sizing, $box-value);
}


// ----------------------------------------------------------------
//    Hidden Elements Mixins
// ----------------------------------------------------------------
// Hide text that you don't want visible
// like on submit buttons that use an icon instead of text
@mixin hide-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

// Hide entire elements that you don't want visible
// but still need for accessibility / functionality
// -- ie. radio buttons for custom styled radio inputs
@mixin invisible {
  border: 0 !important;
  height: 1px !important;
  left: -999999px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
}

// Truncate Text
@mixin truncate($truncation-boundary){
  max-width: $truncation-boundary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  // Example --  @include truncate(100%);


// ----------------------------------------------------------------
//    Clearfix
// ----------------------------------------------------------------
@mixin clearfix {
  *zoom: 1;
  &:before, &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}


// ----------------------------------------------------------------
//    Responsive Row w/fixed width column -- use in combo with .row
// ----------------------------------------------------------------
@mixin row-fixed-left($col-size) {
  padding-left: $col-size;

  .f-col {
    float: left;
    margin-left: -$col-size + 20px;
    width: $col-size - 20px;
  }
}

@mixin row-fixed-right($col-size) {
  padding-right: $col-size;

  .f-col {
    float: right;
    margin-right: -$col-size;
    width: $col-size - 20px;
  }
}
