// ----------------------------------------------------------------
//  Tables
// ----------------------------------------------------------------

// sets consistent boarder styling for table elements
$table-border: 1px solid #ccc;


// Removes most of the table spacing issues
table {
  background: #fafafa;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: $table-border;
  border-right: $table-border;
  font-size: $base;
  width: 100%;
  // make tables always take up the entire width of their containing parent.

  tr {
    border-top: $table-border;

    &:nth-child(2n){
      background: $c-Light;
    }
  }

  th, td {
    border-left: $table-border;
    padding: $spacing;
    text-align: left;
  }
}

thead {
  background: #eee;
}

tfoot {
  background: #e3e3e3;
}
