// ----------------------------------------------------------------
//    Basic Styling: Typography Elements
// ----------------------------------------------------------------

// Basic Lists.  Kill the marign on the last li.
ul, ol {
  margin: 0 0 $spacing*2;
  padding: 0 0 0 $spacing*6;

  > li:last-child {
    margin-bottom: 0 // remove double bottom margin
  }

  li ol,
  li ul {
    margin-top: $spacing*2;
  } // keep equal spacing li content followed by lists within lists
}

dt {
  margin-bottom: $spacing;
}
dd {
  margin: 0 0 $spacing*2;
  padding-left: $spacing*4;
}

// Bold these things.  Bold 'em good.
b, strong {
  font-weight: bold;
}

// Italicize these things.  Italicize them gooder.
i, em, dfn {
  font-style: italic;
}

// Blockquote txt-base styling
blockquote {
  font: {
    size: $txt-h5;
    style: italic;
  };

  &:before,
  &:after {
    font: {
      size: $txt-h5;
      weight: 400
    };
    line-height: 1;
    position: relative;
    top: 2px;
  }

  &:before {
    content:'"';
    left: -1px;
  }
  &:after {
    content:'"';
    right: -1px;
  }
}

// sets consistent quotes across browsers
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

// Abbr should have an underline in all browsers when a title tag is present
abbr[title] {
  border-bottom: 1px dotted $c-underline;
}

// Show help cursor to tags with title attribute
abbr[title],
dfn[title] {
  cursor: help;
}

// IE 8/9 doesn't do this by default.  shame.  shame IE.  shame...
mark {
  background: $c-highlight;
  color: $c-darker;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: $txt-base;
}

pre {
  white-space: pre-wrap;
}

// Prevents sub & sup from affecting the line-height
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sub { bottom:-.25em; }
  sup { top:-.5em; }

// ----------------------------------------------------------------
//    Site-Wide Typography Standards
// ----------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  a {
    font-weight: 300;
    text-decoration:none

    &:hover {
      text-decoration:underline
    }
  }
}

h1          { font-size: $txt-h1; }
h2          { font-size: $txt-h2; }
h3          { font-size: $txt-h3; }
h4          { font-size: $txt-h4; }
h5          { font-size: $txt-h5;  }
h6          { font-size: $txt-h6; }
p, li, li p { font-size: $txt-base; }
small       { font-size: $txt-tiny; }
