<p>
	<a href="index" title="Back to the Ground Floor Index">Ground Floor</a> was built by 
	<a href="http://www.scottohara.me/" title="shameless linking">Scott O'Hara</a> for 
	<a href="http://www.neocities.org" title="NeoCities.org  Build a more interesting web">NeoCities</a>.
  It is derived from the <a href="https://github.com/bleachedgraphics/Brass-Tacks" title="HTML5/SCSS framework">Brass Tacks</a>, a HTML5/SCSS framework. 
</p>
