<p>
	<a href="index" title="Back to the home page">Ground Floor (NC)</a> was built by 
	<a href="http://www.bleachedgraphics.com/" title="shameless linking">Scott O'Hara</a> for 
	<a href="http://www.neocities.org" title="NeoCities, the new GeoCities">NeoCities</a>.
  It is derived from the <a href="https://github.com/bleachedgraphics/Brass-Tacks" title="HTML5/SCSS framework">Brass Tacks</a>, a HTML5/SCSS framework. 
</p>
