{% block content %} 
<div class="txt-Center">

  <h1>404</h1>
  <p>
    Normally a nice 'sorry, but bla bla bla' message would go here.  But quite frankly, you probably did something stupid. 
  </p>
  <p>
  	Use the navigation above to go to one of the pages you clearly didn't know how to spell into your address bar.
  </p>

</div> 
{% endblock %}