{% block content %} 
<div>

<h1>Helper Classes</h1>
<p>
  Some basic helper classes to let you do a little more with your HTML.
</p>
<hr />

<h3>CSS</h3>
<code style="font-size:12px">
.txt-Center	{text-align:center}<br />
.txt-Left	{text-align:left}<br />
.txt-Right	{text-align:right}<br />
.txt-Just	{text-align:justify}<br />
<br />
<br />
.float-Left	  {float:left}<br />
.float-Right  {float:right}<br />
.float-None	  {float:none}<br />
.clear		  {clear:both}<br />
.clearfix	  {@include clearfix}<br />
</code>

</div> <!-- end .row -->

</div>
{% endblock %}