{% block content %}
<div>
<h1>Navigation</h1>
<p>
  Basic styling for the nav element and its children:
</p>
<hr />
  <h3>Navigation <small>(outside of header, nav > ul > li > a)</small></h3>
  <nav>
    <ul>
      <li><a href="#!">navigation item #1</a></li>
      <li><a href="#!">navigation item #2</a></li>
      <li><a href="#!">navigation item #3</a></li>
    </ul>
  </nav>
  
  <h3>Navigation <small>(nav > a)</small></h3>
  <nav>
    <a href="#!">navigation item #1</a>
    <a href="#!">navigation item #2</a>
    <a href="#!">navigation item #3</a>
  </nav>
</div>
{% endblock %}