{% block content %}
<div>
<h1>Navigation</h1>
<p>
  Basic styling for the nav element and its children:
</p>
<hr />

<div class="row">
  <div class="col col-50">
  <h3>Navigation</h3>
  <p>(outside of header, nav > ul > li > a)</p>
  <nav>
    <ul>
      <li><a href="#!">nav item 1</a></li>
      <li><a href="#!">nav item 2</a></li>
      <li><a href="#!">nav item 3</a></li>
    </ul>
  </nav>
</div>
<div class="col col-50">  
  <h3>Navigation</h3>
  <p>(nav > a)</p>
  <nav>
    <a href="#!">nav item 1</a>
    <a href="#!">nav item 2</a>
    <a href="#!">nav item 3</a>
  </nav>
  </div>
</div> <!-- end .row. -->  
 
<!-- Code of above examples -->
<div class="row show-Code">
  <div class="col col-50">
    <strong>Code</strong>
    <code>
      &lt;nav><br />
        &nbsp;&nbsp;&lt;ul><br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;li>&lt;a href="#!">nav item 1&lt;/a>&lt;/li><br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;li>&lt;a href="#!">nav item 2&lt;/a>&lt;/li><br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;li>&lt;a href="#!">nav item 3&lt;/a>&lt;/li><br />
        &nbsp;&nbsp;&lt;/ul>
      &lt;/nav>
    </code>
  </div>
 
  <div class="col col-50">
    <strong>Code</strong>
    <code>
      &lt;img src="img/f00.jpg" alt="a test image" /><br />
       &lt;nav><br />
         &nbsp;&nbsp;&lt;a href="#!">nav item 1 &lt;/a><br />
         &nbsp;&nbsp;&lt;a href="#!">nav item 2 &lt;/a><br />
         &nbsp;&nbsp;&lt;a href="#!">nav item 3 &lt;/a><br />
       &lt;/nav>
    </code>
  </div>
</div> <!-- end .row.show-Code -->  
  
</div>
{% endblock %}