{% block content %}
<div>
<h1>Tables</h1>
<p>
  Basic styling for tabular data <small>(not to be used for layout!)</small>
</p>
<hr />
<table>
<caption>Table Caption</caption>
    <thead>
        <tr>
            <th>TH Col Start</th>
            <th>Item 2</th>
            <th>Item 3</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>TH Col End</th>
            <th>Item 2 End</th>
            <th>Item 3 End</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>Title TH</th>
            <td>Data area 1</td>
            <td>Data area 2</td>
        </tr>
        <tr>
            <th>Title TH</th>
            <td>Data area 1</td>
            <td>Data area 2</td>
        </tr>
        <tr>
            <th>Title TH</th>
            <td>Data area 1</td>
            <td>Data area 2</td>
        </tr>
        <tr>
            <th>Title TH</th>
            <td>Data area 1</td>
            <td>Data area 2</td>
        </tr>
        <tr>
            <th>Title TH</th>
            <td>Data area 1</td>
            <td>Data area 2</td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}