// ----------------------------------------------------------------
//    Basic Styling for Buttons
// ----------------------------------------------------------------
.btn,
%btn {
  @include vendor(transition, all .25s ease-in-out 0s);
  background: $c-dark;
  color: $c-lighter;
  cursor: pointer;
  display: inline-block;
  font: {
    family: $brand, $arial;
    size: $txt-base
  };
  line-height: 1;
  padding: $spacing*2 $spacing*3;
  text-align: center;
  text-decoration: none !important; // set to !important so if used on an <a> it will never have an underline
  vertical-align: middle;
  -webkit-appearance: none;

  &.btn-pad {
    padding:$spacing*2 $spacing*4
  }

  &:hover,
  &:focus,
  &:active {
    background:$c-darker;
    color:$c-lighter;
  }

  &:visited {
    color: $c-lighter !important;
  }
}


// ----------------------------------------------------------------
// Sizing
// ----------------------------------------------------------------
.btn-small {
  @extend %btn;
  font-size: $txt-tiny;
  padding: $spacing $spacing*2;

  &.btn-pad {
    padding: $spacing $spacing*3
  }

}
.btn-large {
  @extend %btn;
  font-size: $txt-h3;
  padding: $spacing*3;

  &.btn-pad {
    padding: $spacing*3 $spacing*5
  }

}
.btn-xlarge {
  @extend %btn;
  font-size: $txt-h2;
  padding: $spacing*3 $spacing*4;

  &.btn-pad{
    padding: $spacing*4 $spacing*6
  }

}

.btn-wide {
  display: block
}


// ----------------------------------------------------------------
// Coloring
// ----------------------------------------------------------------
.btn-action,
button,
input[type='submit'] {
  @extend %btn;
  background: $c-btn-1;

  &:hover{
    background: darken($c-btn-1, 15%)
  }
}

.btn-action-2,
.btn-action-2:visited {
  @extend %btn;
  background: $c-btn-2;

  &:hover{
    background: darken($c-btn-2, 15%)
  }
}

.btn-action-3,
.btn-action-3:visited {
  @extend %btn;
  background: $c-btn-3;

  &:hover{
    background: darken($c-btn-3, 15%)
  }
}

.btn-negative,
input[type='reset'] {
  @extend %btn;
  background: $c-btn-negative;
  color: $c-lighter;

  &:hover {
    background: darken($c-btn-negative, 15%)
  }
}

.btn-disable,
.btn-disable:hover {
  @extend %btn;
  background: $c-disabled;
  border: 1px solid #eee;
  color: $c-dark;
  cursor: default;

  &:visited {
    color: $c-dark !important;
  }
}
