// ----------------------------------------------------------------
//    Text Helpers
// ----------------------------------------------------------------
// Align Text
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-just {
  text-align: justify;
}

// ----------------------------------------------------------------
//    Floats & Clearing
// ----------------------------------------------------------------
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clear {
  clear: both;
}

.clearfix {
  @include clearfix;
}

.overflow {
  overflow: hidden;
}
