// ----------------------------------------------------------------
// Colors
// ----------------------------------------------------------------
// Base Branding Colors
$c-Brand-1:    #54a4a3;
$c-Brand-2:    #d48371;
$c-Brand-3:    #7e984c;

// Base Darker Colors
$c-Dark:       #444;
$c-Darker:     #101010;

// Base Lighter Colors
$c-White:      #fff;
$c-Light:      #eee;
$c-Lighter:    #f8f8f8;

$c-Link:       #3B8BBA;

// Button Colors
$c-Btn-1:      $c-Link;
$c-Btn-2:      #1DCCAA;
$c-Btn-3:      #B94A48;

$c-Btn-Neg:    #aaa;
$c-Disabled:   #fafafa;

// Color for Radio/Check box buttons
$c-Btn-RC:    $c-Light;

// Required / Error Text Color
$c-Required:  #f00;

// Underlines & Highlights
$c-Highlight: #ff0;
$c-Underline: #ccc; // not for links
$c-Border:    #ccc;

// ----------------------------------------------------------------
// Fonts Families
// ----------------------------------------------------------------
$brand:   'Open Sans'; // replace this with your main brand font
$arial:   Arial, "Helvetica Neue", Helvetica, sans-serif;
$georgia: Georgia, "Times New Roman", Times, serif;

// ----------------------------------------------------------------
// Font Size Declarations
// ----------------------------------------------------------------
$base-font:1em; // 1em = 16px

$alpha:   $base-font * 3.125;     // 50px
$beta:    $base-font * 2.5;       // 40px
$gamma:   $base-font * 2;         // 32px
$delta:   $base-font * 1.625;     // 26px
$eps:     $base-font * 1.25;      // 20px
$zeta:    $base-font * 1.125;     // 18px
$base:    $base-font;             // 16px
$tiny:    $base-font * .75;       // 12px


// ----------------------------------------------------------------
// Border Radius Base Default - t-l  t-r  b-r  b-l
// ----------------------------------------------------------------
$radius:  3px;


// ----------------------------------------------------------------
// Box Shadow Types  (these are just examples.  Make your own!)
// ----------------------------------------------------------------
$bs-1:    0 0 6px rgba(0,0,0,.25);
$bs-2:    $bs-1 inset;
$bs-3:    $bs-1, $bs-1 inset;
$bs-4:    0 8px 8px -8px rgba(0,0,0,.5);
$bs-5:    $bs-4, 0 0 6px rgba(0,0,0,.75) inset;
$bs-6:    0 0 6px rgba(255,255,255,.5) inset;


// ----------------------------------------------------------------
// Layout
// ----------------------------------------------------------------
$spacing: 4px;
